@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

 * {
     box-sizing: border-box;
 }
  
  body {
      /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #842db7);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;*/
      background-color: rebeccapurple;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'muli', sans-serif;
      margin: 0;  
      min-height: 100vh;
    }

    .pw-container {
        background-color: rgb(61, 16, 105);
        box-shadow: 0 4px 10px rgb(0, 0, 0, 0.5);
        min-width: 400px;
    }
    
    .pw-header{
        padding: 1rem;
    }
    .pw{
        background-color: rebeccapurple;
        display: flex;
        font-size: 2rem;
        align-items: center;
        height: 70px;
        width: 100%;
        position: relative;
        padding: 1 rem;
        overflow: auto;
    }
    .pw-button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(0%, -80%);
    }
    .pw-body{
        padding: 0 1rem 1rem;
    }
    .form-control{
        display: flex;;
        justify-content: space-between;
        margin: 0.5rem 0;
    }
    .generate {
        background-color: #ecb602;
        border: none;
        color: rebeccapurple;
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.75rem;
        margin-top: 1rem;
        width: 100%;
        cursor: pointer;
    }
    .heading{
        text-align: center;
    }
    
    
